body {
    margin: 0 auto;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 18px;
    background:#d7d7d7;
  }
div,p,input,ul,li,h1,h2,h3 {
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  list-style: none;
}
a {
  color: #131313;
  text-decoration: none;
}
.main{
  width:1200px;
  background:#ffffff;
  margin: 0 auto;
}
.top{
  height: 300px;
}
.nav{
  height: 50px;
  background: #164d85;
}
.nav ul{
  padding:0px;
}
.nav ul li{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
}
.nav ul li a{
  display: block;
  color: white;
  font-size: 18px;
}
.hot{
  background:#0516cf !important;
  height: 50px;
}
.box1{
  width: 940px;
  height: 339px;
  padding: 45px 25px;
  margin: 0 auto ;
  margin-top: 25px;
  background: url(../img/img2.jpg) no-repeat;
}
.box1 img{
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}
.box1 p{
  text-indent: 2em;
  line-height: 30px;
  margin-bottom: 10px;
}
.box2{
  width:990px;
  height:425px;
  margin:0 auto;
  }
.title{
  width:980px;
  height:50px;
  line-height:50px;
  text-align:center;
  background:url(../img/img4.jpg) no-repeat;
  font-size:20px;
  color:#FFF;
  margin-bottom:75px;
  }
.box2-ner{
  width:990px;
  height:260px;
  }
.box2-ner .bx{
  width:195px;
  height:260px;
  float:left;
  margin:0px 25px;
  }
.box2-ner .bx h1{
  height:60px;
  line-height:60px;
  text-align:center;
  font-weight:normal;
  font-size:14px;
  }
.foot{
  height: 105px;
  line-height: 105px;
  background: #164d85;
  text-align: center;
  font-size: 14px;
  color: white;
}
.limain{
  width:980px;
  min-height:630px;
  margin:0 auto;
  padding-top:30px;
  height:auto;
  overflow:hidden;
  }
.limain-left{
  width:670px;
  float:left;
  margin-right:25px;
  }
.limain-left ul{
  padding:0px 20px;
  }
.limain-left ul li{
  height:35px;
  line-height:35px;
  background:url(../img/img11.jpg) no-repeat 0px 10px;
  padding-left:40px;
  }
.limain-left ul li a{
  font-size:14px;
  }
.limain-right{
  width:280px;
  float:left;
  }
.limain-right img{
  margin-bottom:20px;
  }
.limain h1{
  height:40px;
  line-height:40px;
  border-bottom:#a00707 1px solid;
  color:#e01617;
  font-size:18px;
  font-weight:normal;
  margin-bottom:15px;
  }
.jiem{
  height:108px;
  border-bottom:#CCC 1px dashed;
  margin-bottom:10px;
  }
.jiem h2{
  height:35px;
  line-height:35px;
  font-size:16px;
  padding-left:25px;
  background:url(../img/img12.jpg) no-repeat 0px 13px;
  }
.jiem p{
  line-height:30px;
  font-size:14px;
  }
.tit{
  height:50px;
  line-height:50px;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  }
.neirong{
  margin-bottom:50px;
  }
.neirong h3{
  height:30px;
  line-height:30px;
  font-size:14px;
  margin-bottom:10px;
  }
.neirong p{
  text-indent:2em;
  }
.neirong img{
  display:block;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:10px;
  }